In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split 
from sklearn import metrics

In [6]:
df=pd.read_csv('golf.txt')
df

     Outlook Temp. Humidity    Wind  Decision
0      Sunny   Hot     High    Weak         0
1      Sunny   Hot     High  Strong         0
2   Overcast   Hot     High    Weak         1
3       Rain  Mild     High    Weak         1
4       Rain  Cool    0rmal    Weak         1
5       Rain  Cool    0rmal  Strong         0
6   Overcast  Cool    0rmal  Strong         1
7      Sunny  Mild     High    Weak         0
8      Sunny  Cool    0rmal    Weak         1
9       Rain  Mild    0rmal    Weak         1
10     Sunny  Mild    0rmal  Strong         1
11  Overcast  Mild     High  Strong         1
12  Overcast   Hot    0rmal    Weak         1
13      Rain  Mild     High  Strong         0

In [3]:
X = df.iloc[:, :-1].values
y = df.iloc[:, 4].values

In [4]:
one_hot=pd.get_dummies(df[['Outlook', 'Temp.', 'Humidity', 'Wind']],drop_first=False)
one_hot.head()

,Outlook_Overcast,Outlook_Rain,Outlook_Sunny,Temp._Cool,Temp._Hot,Temp._Mild,Humidity_0rmal,Humidity_High,Wind_Strong,Wind_Weak
0,0,0,1,0,1,0,0,1,0,1
1,0,0,1,0,1,0,0,1,1,0
2,1,0,0,0,1,0,0,1,0,1
3,0,1,0,0,0,1,0,1,0,1
4,0,1,0,1,0,0,1,0,0,1

In [7]:
df=df.drop(['Outlook', 'Temp.', 'Humidity', 'Wind'],axis=1)

In [8]:
X=pd.concat([one_hot,df],axis=1)

In [9]:
X.head()

,Outlook_Overcast,Outlook_Rain,Outlook_Sunny,Temp._Cool,Temp._Hot,Temp._Mild,Humidity_0rmal,Humidity_High,Wind_Strong,Wind_Weak,Decision
0,0,0,1,0,1,0,0,1,0,1,0
1,0,0,1,0,1,0,0,1,1,0,0
2,1,0,0,0,1,0,0,1,0,1,1
3,0,1,0,0,0,1,0,1,0,1,1
4,0,1,0,1,0,0,1,0,0,1,1

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [11]:
from sklearn.tree import DecisionTreeClassifier

In [12]:
model = DecisionTreeClassifier(criterion = "entropy", random_state = 100,max_depth = 3, min_samples_leaf = 5)
model.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=3, min_samples_leaf=5,
                       random_state=100)

In [13]:
y_pred = model.predict(X_test)

In [14]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.8